header { 
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.header-actions { 
    color: #787878;
}

.header-actions--item { 
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-logo { 
    width: 30px;
}