header { 
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.7em;
}

.header-actions { 
    display: flex;
    align-items: center;
    color: #787878;
}

.header-actions--item { 
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-logo { 
    width: 30px;
}